
body {
      background-image: url("matiere_blache.jpeg");
      margin-left: auto;
      margin-right: auto;
      font-family: Arial, Helvetica, sans-serif;
}

/*Début du style des formulaires*/
label {
      font-weight: bold;
      float: left;
      width: 27%;
      margin-right: .5em;
      text-align: right;
}
legend {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: .5em;
}
#wrapper {
      margin: 0;
      padding: 0;
}
#login {
      position: absolute;
      left: 0;
      width: 40%;
      padding: 1em 0;
}
#reg {
      position: absolute;
      left: 40%;
      width: 60%;
      padding: 1em 0;
}
#field {padding-bottom: .5em;}
.errors {
      font-weight: bold;
      font-style: italic;
      font-size: 90%;
      color: red;
      margin-top: 0;
}
/*Fin du style des formulaires*/

/* Zone globale */
#global {
      width:1280px;
      margin: 3% 7% 3% 7%;

}

#logo1 #logo2{
      margin-left: 37%;
      margin-right: auto;
      width: 20%;-
}


#header {
      width: 1280px;
      height: auto;
      border-radius: 10px;
      top: 1px;
      position: page;
      text-transform: uppercase;
      opacity: 100%;
      text-align: center;
}

h1 {
      text-align: center;
}




#menu li {
      list-style-type:none;
      list-style-position:inside;
}


#menu a {
      float:left;
      display:block;
      text-decoration: none;
      text-align:center;
      width:160px;
      height:50px;
      line-height:50px;
      background-color:#CCC;
      color: black;
      font-family: Arial,sans-serif;
      font-weight: bold;
      font-size:1em;
}

#menu a:hover {
      background-color: darkblue;
      color: white;
}




#bas a{
      display:block;
      text-decoration: none;
      text-align:center;
}